@media (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }

  .hotel-slider {
    width: 60%;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 40px;
  }

  .nav__link {
    font-size: 12px;
    line-height: 15px;
  }

  .logo__image {
    width: 150px;
    height: 22px;
    margin-top: 0;
  }

  .header__search {
    margin-left: auto;
  }

  .hotel-grid {
    flex-direction: column;
    align-items: center;
  }

  .hotel-slider {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .booking { 
    max-width: 700px;
    display: flex;

    &__wrap {
      width: 340px;
      height: 210px;
      margin-right: 20px;
    }

    &__button {
      padding: 14px 78px 13px 78px;
    }
  }

  .map {
    width: 340px;
    height: 210px;
  }

  .reviews-slider {
    &__card {
      width: 579px;
      padding: 0 75px 30px 79px;

      &::before,
      &::after {
        display: none;
      }  
    }
  }
}



@media (max-width: 768px) {
  .container {
    max-width: 700px;
    padding: 0;
  }

  .header-top {
    padding: 30px 0;
  }

  .logo__image {
    width: 132.75px;
    height: 18px;
  }

  .header__search {
    width: 340px;
    margin-left: 47.25px;
    margin-right: 73px;
  }

  .nav {
    margin-bottom: 3px;

    &__list {
      padding: 18px 13.5px 23.5px 13.5px;  
    }

    &__item {
      margin-top: 0.5px;
    }
  }

  .breadcrumb {
    &__list {
      padding: 15.5px 0 18px 0;
    }
  }

  .hotel-info {
    &__stars {
      margin-top: 2px;
      margin-bottom: 1px;
    }

    &__raiting {
      margin-top: 8.5px;
      margin-left: 1.5px;
    }

    &__offer {
      margin-top: 5.5px;
    }
  }

  .hotel-grid {
    padding-top: 2px;
    padding-bottom: 60px;
  }

  .hotel-slider {
    margin-left: 0;
    margin-right: 5px;
  }

  .booking {
    &__wrap {
      width: 340px;
      height: 210px;
      margin-bottom: 0;
      padding-left: 23px;
      padding-right: 22px;
    }

    &__per-room {
      margin-top: -1px;
    }

    &__text {
      margin-top: 5.5px;
    }

    &__top {
      margin-bottom: 12px;
    }

    &__call-center {
      margin-bottom: 16px;
    }

    &__button {
      margin-top: 1px;
      padding: 12px 84px 14px 83px;
    }
  }

  .newsletter {
    &-wrapper {
      max-width: 699.5px;
      padding: 92px 0 92px;
    }
  }

  .subscribe {
    &__title {
      margin-top: -1px;
      margin-left: -0.5px;
    }
    
    &__text {
      margin-left: -1px;
    }
  }

  .reviews {
    &__section-title {
      margin-bottom: 50px;
      font-size: 30px;
      line-height: 38px;
    }

    &-slider {
      &__card {
        padding: 0 60px 30px 64px;
      }

      &__button {
        &_prev {
          margin-left: -9px;
          margin-top: -15px;
        }

        &_next {
          margin-right: -9px;
          margin-top: -15px;
        }
      }
    }
  }

  .profile {
    &__rating {
      margin-left: 3px;
    }
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 20.5px;
  }

  .user {
    display: none;
  }

  .nav {
    display: none;
  }

  .header__search {
    display: none;
  }

  .header-top {
    padding: 25px 0 28px 0;
  }

  .logo {
    &__image {
      width: 99px;
      height: 13.42px;
      margin-bottom: 1px;
    }
  }

  .burger-menu {
    width: 16px;
    height: 11px; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    background-color: $light;

    &__btn {
      width: 100%;
      height: 1px;
      background-color: $text-color;
    }
  }

  .breadcrumb {
    &__list {
      padding: 17px 0 19px 0;
    }
  }

  .hotel-info {
    padding-top: 4px;

    &__name {
      width: 100%;
    }

    &__raiting {
      display: none;
    }

    &__offer {
      order: -1;
      margin: 0;
      margin-right: auto;
      margin-bottom: 11px;
    }

    &__stars {
      margin-top: 0;
      margin-right: 17px;     
      flex-basis: content;
    }
  }

  .hotel-slider {
    width: 100%;
  }

  .booking {
    flex-wrap: wrap;

    &__wrap {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }

    &__button {
      margin: 0 auto;
      display: block;
    }
  }

  .map {
    width: 100%;

    &__iframe {
      width: 100%;
    }
  }

  .newsletter {
    &-wrapper {
      width: 100%;
      padding: 80px 20px;
    }
  }

  .subscribe {
    &__text {
      font-size: 20px;
      line-height: 25px;
    }

    &__title {
      font-size: 30px;
      line-height: 38px;
    }
  }

  .send-form {
    max-width: 290px;

    &__input {
      padding: 0 20px;
    }
  }

  .reviews-slider {
    &__card {
      width: 450px;
      padding: 0 40px 30px;
    }
  }
}

@media (max-width: 576px) {
  .hotel-slider {
    height: 300px;
  }

  .newsletter {
    &-wrapper {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .subscribe {
    &__text {
      margin-bottom: 5px;
    }

    &__title {
      margin-bottom: 37px;
    }
  }

  .reviews {
    &__section-title {
      font-size: 24px;
      line-height: 32px;
    }
    
    &-slider {
      &__card {
        width: 350px;
        padding: 0 30px 30px;
      }
    } 
  } 
}

@media (max-width: 480px) {
  .logo {
    margin-left: -1px;
  }

  .hotel-info {
    &__offer {
      margin-top: 1px;
      padding-right: 9px;
    }

    &__stars {
      margin-right: 18px;
    }

    &__star {
      &:last-of-type {
        margin-left: -1px;
      }
    }
  }

  .hotel-grid {
    padding-top: 19px;
    padding-bottom: 40px;
  }

  .hotel-slider {
    width: 278.44px;
    height: 179px;    
    margin-right: 6.5px;
    margin-bottom: 20px;

    &__button {
      width: 12px;
      height: 12px;

      &_prev {
        margin-left: -5px;
        margin-top: -5px;
        background-image: url("../../img/arrow-prev-mobile.svg");
      }

      &_next {
        margin-right: -3px;
        margin-top: -5px;
        background-image: url("../../img/arrow-next-mobile.svg");
      }
    }
  }

  .booking {
    justify-content: center;

    &__wrap {
      width: 279px;
      height: 210px;
      margin-bottom: 20px;
      padding-left: 22px;
    }

    &__call-center {
      margin-bottom: 17px;
    }

    &__phone {
      margin-right: 2px;
    }
    
    &__top {
      margin-bottom: 12px;
    }

    &__person-room {
      &:last-of-type {
        margin-top: 7px;
      } 
    }

    &__icon {
      margin-bottom: 1px;
      margin-left: 1.5px;
      margin-top: -1px;
    }

    &__button {
      padding: 13px 53.5px 13px 53.5px;
    }

    &__count {
      margin-bottom: 1px;
      margin-right: -1px;
    }
  }

  .newsletter {
    &-wrapper {
      width: 100%;
      padding-top: 76px;
      padding-bottom: 83px;
    }
  }

  .map {
    width: 280px;
    height: 173px;
  }

  .send-form {
    max-width: 280px;
  }

  .reviews {
    padding-bottom: 50px;

    &__section-title {
      margin-bottom: 42px;
      font-size: 18px;
      line-height: 23px;
    }
    
    &-slider {
      &__card {
        width: 281px;
        padding: 0 30px 36px 33px;
      }

      &__button {
        &_prev {
          top: 45px;
          margin-left: 22px;
        }

        &_next {
          top: 45px;
          margin-right: 27px;
        }
      }

      &__profile {
        margin-right: 4px;
      }

      &__comment {
        text-align: start;
        word-spacing: normal;
      }
    }
  }
}