*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Mulish";
}

a {
  text-decoration: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}
