.hotel {
  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0 19px 0;

    &__text {
      display: flex;
      flex-wrap: wrap;
    }

    &__stars {
      display: block;
      margin-top: 1.5px;
      margin-bottom: 2.5px;
      margin-left: 0.5px;
      width: 100%;
    }

    &__star {
      margin-right: -2px;
    }

    &__name {
      margin: 0;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
    }

    &__offer {
      display: flex;
      align-items: center;
      height: 20px;
      margin-top: 4.5px;
      margin-left: 14.5px;
      padding: 3px 8.7px 4px 8.7px;
      font-size: 10px;
      font-weight: 600;
      line-height: 13px;
      background-color: $primary;
      color: $light;
      border-radius: 3px;
    }

    &__description {
      margin: 0;
      width: 100%;
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
    }

    &__raiting {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      padding: 9px 6px 6px 7px;
      margin-top: 5.5px;
      width: 65px;
      min-height: 45px;
      background-color: $primary;
      color: $light;
      border-radius: 4px;
    }

    &__rattings {
      font-size: 8px;
      font-weight: 600;
      line-height: 10px;
    }

    &__counter {
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
    }

    &__max-counter {
      font-size: 10px;
      font-weight: 700;
      line-height: 13px;
    }
  }
}

.swiper-button-next::after, .swiper-button-prev::after {
    content: "";
}

.hotel-grid {
  display: flex;
  padding-bottom: 70px;
}

.swiper {
  margin-left: 2.5px;
  width: 728px;
  height: 450px;
  border-radius: 8px;
  position: relative;
  z-index: 0;
    
  &::after {
    content: "";
    top: 0;      
	  left: 0; 
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
    }

   &-button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-position: center;
    border: none;
    
    &-prev {
    margin-left: 6px;
    margin-top: -13px;
    background-image: url("../../img/arrow-prev.svg");
    background-repeat: no-repeat;
    }

    &-next {
    margin-right: 8px;
    margin-top: -12px;
    background-image: url("../../img/arrow-next.svg");
    background-repeat: no-repeat;
    }
  }

  &-image {
    width: 100%;
    height: 100%;
  }
}



